@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  body {
    cursor: auto;
  }
}

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #000000;
  @apply text-text dark:text-darkText;
  cursor: none; /* Para el cursor personalizado */
  overflow-x: hidden;
}

.perspective-1000 {
  perspective: 1000px;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

:root {
  --border-color-light: #000;
  --border-color-dark: #000;
  --shadow-color-light: #000;
  --shadow-color-dark: #000;
  --primary-rgb: 14, 165, 233;
}

.dark {
  --border-color: var(--border-color-dark);
  --shadow-color: var(--shadow-color-dark);
}

.light {
  --border-color: var(--border-color-light);
  --shadow-color: var(--shadow-color-light);
}
